.form-control {
    background: transparent;
    border: 2px solid #ff3366;
    color: #ff3366;
    cursor: pointer;
  }
  
  .sunheader {
    float: left;
    width: 250px;
    display: block;
  }
  ul {
    color: #ff3366;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 17px;
    list-style: none;
  }
  hr {
    color: #ff3366;
  }
  h1,
  h2,
  p {
    display: block;
    color: #ff3366;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  h1 {
    font-size: 50px;
    line-height: 90px;
    margin: 0;
  }
  h2 {
    font-size: 50px;
    line-height: 30px;
    margin: 0;
  }
  .units {
    font-size: 25px;
    position: relative;
    margin: none;
    top: -18px;
    left: -7px;
    text-decoration: none;
    color: #ff3366;
  }
  .highLow {
    text-align: right;
    font-size: 17px;
  }